body{
    background: rgb(50, 109, 152);
    font: normal 20pt arial;
}

header{

    color: white;
    text-align: center;
}

section{
     background: white;
     font: normal 15pt arial;
     border-radius: 10pt;
     width: 500px;
     margin: auto;
}
select{
    width: 150px;
}

div#res{
    font: normal 13pt arial;

}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}